html{
    background-color: gray;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}

html,body{
    text-align:center;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

h1{
    font-size:32px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

h2{
    font-size:26px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.dims{
    height: 500px; width: 500px; overflow: hidden; 
}

.round-xlarge{
    border-radius:16px
}

.card{
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}

.flex-left{
    flex-direction: row;
    width: 32%;
    float: left;
}

.flex-right{
    width: 66%;
    flex-direction: row;
    float: right;
}

.flex-small {
    display: inline-flex;
    width: 29%;
    flex-direction: column;
}

.card-padded{
    padding: 2%;
    margin: 2%;
    padding-bottom: 10%
}

.padded{
    padding: 1%; 
    margin: 1%;
}

.light-grey{
    background-color:#f1f1f1!important
}

.white {
    background-color:white!important
}




