main {
    text-align: center;
}

h1 {
    font: bold 200% Bodoni 72, "Didot LT STD", "Bodoni 72", Bodoni, "Bodoni MT", "Libre Bodoni", "Hoefler Text", Cambria, Georgia, serif;
}

.img-circle {
    border-radius: 50%;
}

body {
  font: 120% Cambria; 
}
